*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Lobster', cursive;
    background-color: #346784;
}



.divider {
    color: antiquewhite;
    background-color: #346784;
}


header {
    display: inline-block;
    padding-inline: 10px;
    margin-top: 20px;
}

.navbar li {
    display: inline-block;
    list-style: none;
}

.nav-buttons {
    background: #070141; 
    color: rgba(202,218,235,255);
    padding: 10px 10px;
    width: 85px;
    height: 100%;
    box-shadow: 10px 10px 20px 0px rgb(0, 0, 0);
    font-size: 1rem;
    margin-left: 5px;
    border-radius: 16px;
}

.logo-container {
    width: 70px;
    height: 100%;
    align-items: center;
    padding-left: 10px;
    
}

.logo-container img {
    width: 100%;
    border-radius: 100%;
    margin-bottom: -1rem;
}

.hero {
    padding-inline: 20px;
    color:antiquewhite; 
    margin: auto;
}



.img-section {
    background-image: url(images/bar-blue.jpg);
    background-size: cover;
    max-width: 400px;
    height: 250px;
    border-radius: 25px;
    overflow: hidden;
    box-shadow: 10px 10px 20px 0px rgb(0, 0, 0);
    margin-block: 20px;
    align-items: center;
    justify-content: center;
    position: ;
}

.img-section h2 {
    padding-inline: 50px;
    padding-block: 70px;
    font-size: 2rem;
    text-align: center;
}

.landing-menu {
    max-width: 350px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.description p {
    text-transform: capitalize; 

}

.description {
    align-items: center;
    padding-block: 20px;
}

.sect-divs {
    box-shadow: 10px 10px 20px 0px rgb(0, 0, 0);
    margin-top: 10px;
    color: black;
    border-radius: 20px;
    width: 100%;
}

.cocktails {
    background-image: url(images/348s.jpeg);
    background-size: cover;
}


.food {
    background-image: url(images/mbuzi-choma.jpeg);
    background-size: cover;
}

.bottle {
    background-image: url(images/bottle.2.jpeg);
    background-size: cover;
}
.beer {
    background-image: url(images/beers2.webp);
    background-size: cover;
}

.liquor {
    background-image: url(images/liqour.jpeg);
    background-size: cover;
}

.non-alcoholic {
    background-image: url(images/mocktails.webp);
    background-size: cover;
}

.sect-divs {
    color: #fff;
    min-height: 200px;
}

.product-class-title {
    background-color: rgb(7, 1, 65); 
    color: rgba(202,218,235,255);
    box-shadow: 10px 10px 20px 0px rgb(0, 0, 0);
    margin-top: 5px;
    padding: 0.85rem;
    text-align: center;
    border-radius: 20px;
    font-size: 1rem;
}
.non {
    font-size: 1.245rem;
}

.product-short-list ul li {
    list-style: none;
    font-size: 1.25rem;
    line-height: 1.5;
    font-weight: 300;
    display: none;
}

.product-short-list h3 {
    text-align: center;
    font-size: 1.25rem;
    color: #dbf0f5;
}

.text {
    margin-left: -25px;
}

.text li {
    color: #ffffff;
}


.bottom {
    background-color: #276283;
    color: rgba(202,218,235,255);
    margin-top: -5px;
    padding: 0.15rem;
    text-align: center;
    border-radius: 20px;
    font-size: 0.75rem;
}

.empty-div{ 
    width: 400px;
    justify-content: center;
    padding-inline: 120px;
    margin-top: 20px;
}



/* product pages */
.product-menu {
    background-color: #070141;
    max-width: 350px;
    margin: auto;
    border-radius: 25px;
    box-shadow: 10px 10px 20px 0px rgb(0, 0, 0);
}

.item {
    border-bottom: 2px solid #276283;
    display: grid;
    grid-template-columns: 0.5fr 1fr 0.3fr;
    gap: 10px;
}

.item:last-child {
    border: none;
}

.item-img {
    padding: 10px;
    max-width: 120px;
    max-height: 80px;
    object-fit: contain;
    overflow: hidden;
    margin-block: 10px;
}

.item-img img{
    width: 100%;
    height: 100%;
    border-radius:15px;
}

.changing-image {
    width: 350px;
    overflow: hidden;
    border-radius: 25px; 
    box-shadow: 20px 20px 40px 0px rgb(0, 0, 0);
    margin: auto;
    align-items: center;
    position: fixed;
    z-index: 100;
    top: 20px;
}

.changing-image img{
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.price-food {
    padding: 25px;
}

.item-label-food {
    padding-inline-start: 25px;
}




.price {
    align-items: center;
    text-align: center;
    margin-top: 75%;
}

.item-label {
    color: #ff5b02;
}

a {
    text-decoration: none;
    color: inherit;
}

.section-end {
    align-items: center;
    text-align: center;
    margin-block: 10px;
}

.empty {
    padding: 175px;
}

form {
    display: flex;
    align-items: center;
}

form i {
    color: #ffffff;
    font-size: 1.5rem;
    padding: 10px;
}

#search-bar {
    width: 300px;
    padding: 14px;
    margin-top: -20px;
    outline: none;
    border: none;
    background-color: rgba(7, 1, 65, 0.65);
    color: #ffffff;
    align-items: center;
    justify-content: center;
    margin-block: 4px;
    border-radius: 25px;
    font-size: 1.25rem;
    font-weight: 400;
    font-family: 'Lobster', cursive;

}




#search-bar::placeholder {
    font-size: 1.25rem;
    opacity: 0.5;
    color: #ffffff;
    font-family: 'Lobster', cursive;
}

/* media queries */

@media (min-width: 500px) {
    .landing-menu {
    min-width: 500px;
    padding-inline: 35px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}
.img-section {
    background-image: url(images/bar-blue.jpg);
    background-size: cover;
    max-width: 500px;
    height: 250px;
    border-radius: 25px;
    overflow: hidden;
    box-shadow: 10px 10px 20px 0px rgb(0, 0, 0);
    /* margin-inline-start: 0px;
    margin-inline-end: 10px; */
    margin-bottom: 20px;
    margin-top: 40px;
    align-items: center;

}

.section-end {
    align-items: center;
    text-align: center;
}
.changing-image {
    min-width: 500px;
}

.changing-image {
    margin-left: 42.85%; 
}
.empty {
    padding: 170px;
}
}